.tooltip-helper-class[data-popper-reference-hidden] {
	visibility: hidden;
	pointer-events: none;
}

/* basic styles */
.tooltip-helper-class[data-popper-placement^='top'] .tooltip-arrow-wrapper {
	bottom: -5px;
}

.tooltip-helper-class[data-popper-placement^='bottom'] .tooltip-arrow-wrapper {
	top: -5px;
}

.tooltip-helper-class[data-popper-placement^='left'] .tooltip-arrow-wrapper {
	right: -5px;
}

.tooltip-helper-class[data-popper-placement^='right'] .tooltip-arrow-wrapper {
	left: -5px;
}

/* sm - small set */
.tooltip-helper-class[data-popper-placement^='top'] .tooltip-arrow-wrapper-sm {
	bottom: -5px;
}

.tooltip-helper-class[data-popper-placement^='bottom'] .tooltip-arrow-wrapper-sm {
	top: -5px;
}

.tooltip-helper-class[data-popper-placement^='left'] .tooltip-arrow-wrapper-sm {
	right: -5px;
}

.tooltip-helper-class[data-popper-placement^='right'] .tooltip-arrow-wrapper-sm {
	left: -5px;
}

/* md - medium set */
.tooltip-helper-class[data-popper-placement^='top'] .tooltip-arrow-wrapper-md {
	bottom: -10px;
}

.tooltip-helper-class[data-popper-placement^='bottom'] .tooltip-arrow-wrapper-md {
	top: -10px;
}

.tooltip-helper-class[data-popper-placement^='left'] .tooltip-arrow-wrapper-md {
	right: -10px;
}

.tooltip-helper-class[data-popper-placement^='right'] .tooltip-arrow-wrapper-md {
	left: -10px;
}

/* lg - large set */
.tooltip-helper-class[data-popper-placement^='top'] .tooltip-arrow-wrapper-lg {
	bottom: -15px;
}

.tooltip-helper-class[data-popper-placement^='bottom'] .tooltip-arrow-wrapper-lg {
	top: -15px;
}

.tooltip-helper-class[data-popper-placement^='left'] .tooltip-arrow-wrapper-lg {
	right: -15px;
}

.tooltip-helper-class[data-popper-placement^='right'] .tooltip-arrow-wrapper-lg {
	left: -15px;
}

/* rd - round set */
.tooltip-helper-class[data-popper-placement^='top'] .tooltip-arrow-wrapper-rd {
	bottom: -6px;
}

.tooltip-helper-class[data-popper-placement^='bottom'] .tooltip-arrow-wrapper-rd {
	top: -6px;
}

.tooltip-helper-class[data-popper-placement^='left'] .tooltip-arrow-wrapper-rd {
	right: -6px;
}

.tooltip-helper-class[data-popper-placement^='right'] .tooltip-arrow-wrapper-rd {
	left: -6px;
}

/* fix for arrowborders */
.tooltip-helper-class[data-popper-placement^='top'] .tooltip-arrow-inner {
	border-left: none;
	border-top: none;
}

.tooltip-helper-class[data-popper-placement^='bottom'] .tooltip-arrow-inner {
	border-right: none;
	border-bottom: none;
}

.tooltip-helper-class[data-popper-placement^='left'] .tooltip-arrow-inner {
	border-left: none;
	border-bottom: none;
}

.tooltip-helper-class[data-popper-placement^='right'] .tooltip-arrow-inner {
	border-right: none;
	border-top: none;
}
