.swatches-wrapper {
	font-size: 14px;
	font-weight: 300;
	width: 200px;
	min-height: 160px;
	background-color: black;
	color: white;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
}

.swatch {
	font-family: 'Inconsolata', monospace;
	line-height: 30px;
	width: 50%;
	font-weight: 500;
	padding: 4px;
	box-sizing: border-box;
	cursor: default;
	text-align: left;
	padding-right: 16px;
	height: 35px;
	text-align: right;
}

.swatches-wrapper p {
	display: block;
	width: 100%;
	margin: 0;
	padding: 4px;
	border-radius: 10px;
}
