@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap');

* {
	transition: all 0.2s;
}

body {
	margin: 0;
}

h1,
p,
div,
button {
	font-family: 'Jost', sans-serif;
}
