.tooltip-wrapper {
	position: relative;
	display: inline-block;
}

.target-target {
	cursor: pointer;
}

.tooltip.top {
	bottom: 130%;
	transform: translateX(-50%);
	left: 50%;
}

.tooltip.bottom {
	top: 130%;
	transform: translateX(-50%);
	left: 50%;
}

.tooltip.right {
	left: 130%;
	transform: translateY(-50%);
	top: 50%;
}

.tooltip.left {
	right: 130%;
	transform: translateY(-50%);
	top: 50%;
}
